body {


  .glyphicon {
    font-size: 14px;
  }

  ul#list-holder {
    list-style-type: none;
    margin-top: 10px;

    li {
      padding: 10px 0 10px 20px
    }

    li:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }
}
